<div class="col-md-6 offset-3 ">

<h2> Add Student</h2>
<form >
    <div class="form-group">
      
      <input type="text" class="form-control" [(ngModel)]="student.firstName" name="firstName" placeholder="First Name">
    </div>

    <div class="form-group">
        
        <input type="text" class="form-control" [(ngModel)]="student.lastName" name ="lastName "placeholder="Last Name">
    
      </div>
      <div class="form-group">

        <input type="email" class="form-control" [(ngModel)]="student.email" name="email" placeholder="Enter email">
      
      </div>
  
    <button type="submit" class="btn btn-primary"  (click)="createEmployee()" >Submit</button>
  </form>
</div>